body{
	background-image: url('background.jpg');
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1{
  font-family: Bernard MT;
  font-size: 50px;
  text-align: center;
  color: black;
  text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px white;
}

.menubutton {
  display: inline-block;
  border-radius: 4px;
  background-color: #DAA520;
  border: none;
  color: #000000;
  text-align: center;
  font-size: 15px;
  padding: 8px;
  width: 180px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 3px;
}

.menubutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.menubutton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -25px;
  transition: 0.5s;
}

.menubutton:hover span {
  padding-right: 30px;
}

.menubutton:hover span:after {
  opacity: 2;
  right: 0;
}

p{
	color: yellow;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
